:root
{
    font-size: 32px;
    --slide-position: 0;
    --slide-img-position: 0;
    --Grayish-Blue: hsl(240, 18%, 77%);
    --Dark-Blue: hsl(240, 38%, 20%);
}

body
{
    background-attachment: fixed;
    background-image: url('../assets/images/pattern-curve.svg');
    background-position: 0 105%;
    font-family: 'Inter', sans-serif;
    margin: 0;
    min-height: 100vh;
}

body, .slider
{
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (min-width: 1280px)
{
    body
    {
        background-size: 50%;
    }
}

body, .slider__text, .slider__button
{
    align-items: center;
    display: flex;
    justify-content: center;
}

.slider
{
    background-image: url('../assets/images/pattern-bg.svg'), url('../assets/images/pattern-quotes.svg');
    background-position: top center, center 65%;
    background-size: contain, 17%;
    display: grid;
    margin-bottom: auto;
    margin-top: 5%;
    max-width: 500px;
    overflow: hidden;
    padding-top: 0.9rem;
    place-items: center;
    width: 90%;
}

@media screen and (min-width: 1280px)
{
    .slider
    {   
        background-position: right 35%, 16% 28%;
        background-size: 54%, 9%;
        grid-auto-flow: column dense;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 700px;
        margin-bottom: 0;
        margin-top: 0;
        max-width: 1300px;
        padding-top: 0;
    }
}

.slider, .slider__container, .slider__img, .slider__text
{
    position: relative;
}

.slider__container
{
    width: 78%;
}

@media screen and (min-width: 1280px)
{
    .slider__container
    {
        grid-column: 2 / 3;
        width: 95%;
    }
}

.slider__img
{
    border-radius: 7px;
    max-width: 100%;
    transform: translateX(var(--slide-img-position));
}

.slider__text
{
    color: var(--Dark-Blue);
    flex-direction: column;
    text-align: center;
    transform: translateX(var(--slide-text-position));
}

@media screen and (min-width: 1280px)
{
    .slider__text
    {
        left: 15%;
        position: relative;
        text-align: left;
    }
}

.slider__testimonial
{
    font-size: 0.6rem;
    font-weight: 300;
    line-height: 0.8rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.5rem;
}

@media screen and (min-width: 1280px)
{
    .slider__testimonial
    {
        font-size: 1rem;
        line-height: 1.4rem;
        margin-top: 1.5rem;
    }
}

.slider__author
{
    font-size: 0.5rem;
    line-height: 0.3rem;
}

@media screen and (min-width: 1280px)
{
    .slider__author
    {
        align-items: center;
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        font-size: 0.65rem;
    }
}

.slider__authorname, .slider__authorprofession
{
    margin: 0;
}

.slider__authorname
{
    font-size: inherit;
    font-weight: 700;
}

@media screen and (min-width: 1280px)
{
    .slider__authorname
    {
        margin-right: 0.2rem;
    }
}

.slider__authorprofession
{
    color: var(--Grayish-Blue);
    margin: 14px 0;
}

.slider__button
{   
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: -30px 15px 40px -5px var(--Grayish-Blue);
    box-sizing: border-box;
    justify-content: space-between;
    left: calc(50% - 1.1rem);
    padding: 0.4rem 0.4rem;
    position: absolute;
    top: calc(100% - 0.9rem);
    width: 2.5rem;
}

@media screen and (min-width: 1200px)
{
    .slider__button
    {
        left: 10%;
        padding: 0.6rem;
        width: 3.5rem;
    }
}

.slider__buttonimg
{
    display: block;
    height: 12px;
}

@media screen and (min-width: 1280px)
{
    .slider__buttonimg
    {
        height: 16px;
    }
}

.slider--fadeout
{
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

.slider--fadein
{
    opacity: 1;
    transition: transform 1s, opacity 1s;
}

.slider--return
{
    opacity: 0;
    transition: transform 1ms;
}